<div id="filterrific_results">
  <div class="card">
    <table class="table table-hover table-striped table-sm mb-0">
      <thead>
        <tr>
          <th>Origen</th>
          <th>Destino</th>
          <th>Referencia</th>
          <th>Fecha entrada</th>
          <th>Fecha salida</th>
          <th><%= fa_icon "paperclip" %></th>
          <th>Autor</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="internal_notes">
        <%= render @internal_notes %>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-items-center justify-content-center" style="height: 50px">
    <%= will_paginate @internal_notes, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
