<div id="filterrific_results">
  <div class="panel panel-default">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Numero</th>
          <th>Origen</th>
          <th>Destino</th>
          <th>Referencia</th>
          <th>Fecha entrada</th>
          <th>Fecha salida</th>
          <th><span class="glyphicon glyphicon-paperclip"></span></th>
          <th>Autor</th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody id=entry_notes>
        <%= render @entry_notes %>
      </tbody>
    </table>
    <%= render 'dialog' %>
  </div>
</div>
<div id="page_links">
    <%= paginate @entry_note %>
</div>
