<% content_for :page_header do %>
  <h3>Notas entrantes
  <%= link_to new_entry_note_path, remote: true, class: 'btn btn-primary btn-md' do %>
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
    Nueva nota entrante
  <% end %>
  </h3>
<% end %>

<%= render(
  partial: 'entry_notes/list',
  locals: { entry_notes: @entry_notes }
) %>
