<% content_for :page_title do %>
  Notas entrantes
<% end %>
<% content_for :page_nav do %>
  <li role="presentation">
    <%= link_to new_entry_note_path, remote: true do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
      Nueva
    <% end %>
  </li>
<% end %>
<%= render(
  partial: 'entry_notes/list',
  locals: { entry_notes: @entry_notes }
) %>
