<% content_for :page_title do %>
  Notas salientes
<% end %>
<% content_for :page_nav do %>
  <li role="presentation">
    <%= link_to new_out_note_path, remote: true do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
      Nueva
    <% end %>
  </li>
<% end %>

<%= render(
  partial: 'out_notes/list',
  locals: { out_notes: @out_notes }
) %>
