<%= simple_form_for @sector, remote: true, html: {class: "form-inline"} do |f| %>
  <%= f.error_notification %>
  <div class='row'>
    <div class='col-md-6'>
      <%= f.input :sector_name, required: true, label: 'Nombre' %>

      <%= f.input :description, required: true, label: 'Descripción', as: :text,
          :input_html => { :cols => 46  , :rows => 2 } %>
    </div>
    <div class='col-md-6'>
    </div>
  </div>
<% end %>
