<% content_for :page_header do %>
  <h3>Sectores
  <%= link_to new_sector_path, remote: true, class: 'btn btn-primary btn-md' do %>
    <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
    Nuevo sector
  <% end %>
  </h3>
<% end %>

<%= render(
  partial: 'sectors/list',
  locals: { sectors: @sectors }
) %>
