<% content_for :page_title do %>
  Sectores
<% end %>
<% content_for :page_nav do %>
  <% if policy(Sector).new? %>
    <li role="presentation">
      <%= link_to new_sector_path, remote: true do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
        Nuevo
      <% end %>
    </li>
  <% end %>
<% end %>

<%= render(
  partial: 'sectors/list',
  locals: { sectors: @sectors }
) %>
