// Add the dialog title
$('#dialog h3').html("<i class='glyphicon glyphicon-plus'></i>  Nuevo sector");

// Render the new form
$('.modal-body').html('<%= j render("form") %>');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  "<button type='submit' name='commit' class='btn btn-primary pull-right' form='new_sector'>Cargar sector</button>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Set focus to the first element
$('#dialog').on('shown.bs.modal', function () {
  $('#sector_sector_name').focus();
});
