// Add the dialog title
$('#dialog h3').html("<i class='glyphicon glyphicon-eye-open'></i>  Viendo sector");

// Render the edit form
$('.modal-body').html('<%= j render("show") %>');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  '<%= link_to edit_sector_path(@sector), remote: true, class: "btn btn-warning btn-md" do %>'+
    '<%= content_tag(:span, "", class: "glyphicon glyphicon-edit") %>'+
    ' Editar sector'+
  '<% end %>'
);

// Show the dynamic dialog
$('#dialog').modal("show");
