<% content_for :page_title do %>
  <li role="presentation" class="<%= active_action('index') %> non-sel" id="page-title">
    <%= link_to out_notes_path do %>
      <span class="glyphicon glyphicon-home"></span>
      Bienvenido a HSMA Despacho
    <% end %>
  </li>
<% end %>
<% content_for :page_nav do %>

<% end %>
<div cass="row">
  <div class="col-md-6">
    <%= render 'left_panel' %>
  </div>
  <div class="col-md-6">
    <%= render 'right_panel' %>
  </div>
</div>
