<% content_for :page_title do %>
  Bienvenido a HSMA Despacho
<% end %>
<% content_for :page_nav do %>

<% end %>
<div cass="row">
  <div class="col-md-6">
    <%= render 'left_panel' %>
  </div>
  <div class="col-md-6">
    <%= render 'right_panel' %>
  </div>
</div>
