/* Hide long text in table */
.table .cut-text {
  position: relative;
}

.table .cut-text span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  width: 100%;
}

.cut-text:before {
  content: '';
  display: inline-block;
}

/* Show full size card */
.full-height {
  /* height: 480px; */
  height: calc(100vh - 226px);
  overflow-y: auto; 
}