.chosen-container-single .chosen-single{
  height: 34px !important;
  line-height: 34px !important;
  padding: 0 0 0 12px !important;
}

.datepicker{z-index:1151 !important;}

li .well strong{
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
}
#page_title{
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  margin-top: -7px;
  margin-bottom: -3px;
}
#flash_messages{
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 1;
}
.body-table{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: -10px;
}
#login-btn{
  width: 100%;
}
