<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha pedido cambiar tu contrase침a. Puedes hacer esto a traves del siguiente link.</p>

<p><%= link_to 'Cambiar mi contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no lo has pedido, por favor ignora este email.</p>
<p>Tu contrase침a no cambiar치 hasta que accedas al enlace de arriba y crees una nueva.</p>
