<% if current_user.present? %>
  <li>
    <%= link_to entry_notes_url do %>
      Entrantes
    <% end %>
  </li>
  <li>
    <%= link_to sectors_url do %>
      Sectores
    <% end %>
  </li>
<% end %>
